<div class="container-fluid">
  <h1>
    <%= link_to eventos_path, class:'nav-link' do %>
      <i class="bi bi-arrow-left fs-4 align-middle"></i>
      Editar evento
    <% end %>
  </h1>

  <%= render "form", evento: @evento %>

</div>