<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-3 p-2 pe-4 pb-4">
            <div class="card pt-4 border-4 border-top-0 border-end-0 border-bottom-0 border-primary" style="height: 100px;"> <%# 80px == 5rem %>
                <ul class="list-unstyled list-inline d-flex justify-content-around">
                    <li class="list-inline-item">
                        <h6 class="text-primary">RENDA (MENSAL)</h6>
                        <span class="fw-bold text-dark-emphasis">R$ 5.000,00</span>
                    </li>
                    <li class="list-inline-item">
                        <i class="bi bi-calendar fs-1 text-primary"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-3 p-2 pe-4 pb-4">
            <div class="card pt-4 border-4 border-top-0 border-end-0 border-bottom-0 border-success" style="height: 100px;"> <%# 80px == 5rem %>
                <ul class="list-unstyled list-inline d-flex justify-content-around">
                    <li class="list-inline-item">
                        <h6 class="text-success">RENDA (ANUAL)</h6>
                        <span class="fw-bold text-dark-emphasis">R$ 60.000,00</span>
                    </li>
                    <li class="list-inline-item">
                        <i class="bi bi-currency-dollar fs-1 text-success"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-3 p-2 pe-4 pb-4">
            <div class="card pt-4 border-4 border-top-0 border-end-0 border-bottom-0 border-warning" style="height: 100px;"> <%# 80px == 5rem %>
                <ul class="list-unstyled list-inline d-flex justify-content-around">
                    <li class="list-inline-item">
                        <h6 class="text-warning">GIGS (MENSAL)</h6>
                        <span class="fw-bold text-dark-emphasis">20</span>
                    </li>
                    <li class="list-inline-item">
                        <i class="bi bi-boombox fs-1 text-warning"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-3 p-2 pe-4 pb-4">
            <div class="card pt-4 border-4 border-top-0 border-end-0 border-bottom-0 border-info" style="height: 100px;"> <%# 80px == 5rem %>
                <ul class="list-unstyled list-inline d-flex justify-content-around">
                    <li class="list-inline-item">
                        <h6 class="text-info">GIGS (ANUAL)</h6>
                        <span class="fw-bold text-dark-emphasis">80</span>
                    </li>
                    <li class="list-inline-item">
                        <i class="bi bi-boombox fs-1 text-info"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<%#= render 'table_eventos' %>