<div class="row mt-3" data-controller="hello">
    <h1 class="text-center">Fontes</h1>
    <div class="col-12"> 
        <input class="form-control" type="text" autofocus data-hello-target="entrada" data-action="input->hello#fontes">
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-1" data-hello-target="saida" data-output-id="1" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-2" data-hello-target="saida" data-output-id="2" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-3" data-hello-target="saida" data-output-id="3" style="font-size: 30px;"></span>
    </div>
    
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-4" data-hello-target="saida" data-output-id="4" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-5" data-hello-target="saida" data-output-id="5" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-6" data-hello-target="saida" data-output-id="6" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-7" data-hello-target="saida" data-output-id="7" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-8" data-hello-target="saida" data-output-id="8" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-9" data-hello-target="saida" data-output-id="9" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-10" data-hello-target="saida" data-output-id="10" style="font-size: 30px;"></span>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
        <span class="text-center fs-1 font-11" data-hello-target="saida" data-output-id="11" style="font-size: 30px;"></span>
    </div>
    
</div>
