<div class="row">
    <div class="col-12 border border-1 bg-first" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-second" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-third" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-fourth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-fifth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-sixth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-seventh" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-eighth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-ninth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-tenth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-eleventh" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-twelfth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-thirteenth" style="height: 100px;"></div>

    <div class="col-12" style="height: 200px;">
        <button class="btn btn-first">First</button>
        <button class="btn btn-second">Second</button>
        <button class="btn btn-third">Third</button>
        <button class="btn btn-fourth">Fourth</button>
        <button class="btn btn-fifth">Fifth</button>
        <button class="btn btn-sixth">Sixth</button>
        <button class="btn btn-seventh">Seventh</button>
        <button class="btn btn-eighth">Eighth</button>
        <button class="btn btn-ninth">Ninth</button>
        <button class="btn btn-tenth">Tenth</button>
        <button class="btn btn-eleventh">Eleventh</button>
        <button class="btn btn-twelfth">Twelfth</button>
        <button class="btn btn-thirteenth">Thirteenth</button>
    </div>
</div>










