<div class="row">
    <div class="col-12 border border-1 bg-primary" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-second" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-third" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-fourth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-fifth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-sixth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-seventh" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-eighth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-ninth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-tenth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-eleventh" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-twelfth" style="height: 100px;"></div>
    <div class="col-12 border border-1 bg-thirteenth" style="height: 100px;"></div>
</div>